---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://brick.a.ssl.fastly.net/Alegreya:400,700,400i);
@import url(http://brick.a.ssl.fastly.net/Alegreya+Sans:400,700,900,700i,900i);


//Font families
$base-font-family: 'Alegreya', serif;
$complementary-font: 'Alegreya Sans', sans-serif;

//Font sizes
$base-font-size:   16px;
$post-content-size: 1.4rem;

$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #eeeeee;
$brand-color:      #2a7ae2;
$accent-color:     #D8303D;
$typography-accent: #c90707;

$dark-sky: #173C82;
$blue-sky: #2D6391;
$light-sky: #548AA2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    600px;

$on-phone:         350px;
$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "def-site-layout",
        "typography",
        "sketchbook"
;
