<nav class="bottom-navigation">
  <div class="bottom-nav-links">

    <div class="bottom-home-wrapper">
      <a class="bottom-home-link" href="{{ site.baseurl }}/">pt</a>
    </div>

    <div class="bottom-page-link">
      <a class="nav-icon" href="/about"><i class="fa fa-user"></i></a>
      <p class="nav-label">O mnie</p>
    </div>

    <div class="bottom-page-link">
      <a href="/blog.html" class="nav-icon"><i class="fa fa-comment-o"></i>
</a>
      <p class="nav-label">Blog</p>
    </div>

    <div class="bottom-page-link">
      <a href="/sketchbook.html" class="nav-icon"><i class="fa fa-pencil"></i>
</a>
      <p class="nav-label">Szkicownik</p>
    </div>

    <div class="bottom-page-link">
      <a href="https://github.com/paweltar" class="nav-icon" target="_blank"><i class="fa fa-github-alt"></i>
</a>
      <p class="nav-label">Github</p>
    </div>

    <div class="bottom-page-link">
      <a href="/contact" class="nav-icon"><i class="fa fa-paper-plane-o"></i>
</a>
      <p class="nav-label">Kontakt</p>
    </div>

  </div>
</nav>
