<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.author }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope"></i> {{ site.email }}
            </a>
          </li>

          <li>
            <a href="http://paweltar.github.io/resume">
              <i class="fa fa-file"></i> CV
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}" target="_blank">
                <i class="fa fa-github"></i> github
              </a>
            </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.codepen_username %}
            <li>
              <a href="http://codepen.io/{{ site.codepen_username }}" target="_blank">
                <i class="fa fa-codepen"></i> codepen
              </a>
            </li>
          {% endif %}

          {% if site.pinterest_username %}
            <li>
              <a href="https://pl.pinterest.com/{{ site.pinterest_username }}" target="_blank">
                <i class="fa fa-pinterest"></i> pinterest
              </a>
            </li>
          {% endif %}
        </ul>
      </div>


    </div>

  </div>

</footer>
