<header class="def-site-header">


      <a class="def-site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="def-site-nav">

          <div class="def-nav-links">
            {% for my_page in site.pages %} {% if my_page.title %}
            <a class="def-page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> {% endif %} {% endfor %}
            <a class="def-page-link" href="">Gallery</a>
            <a class="def-page-link" href="https://github.com/paweltar">Github</a>
            <a class="def-page-link" href="">Contact</a>
          </div>
          
        </nav>



</header>
