<div class="gallery-wrapper" id="gallery-section">

  <div class="gallery-card">
    <a href="/img/portfolio/dramascraper/index.jpg" class="strip"><img class="image" src="/img/portfolio/dramascraper/index.jpg" alt=""></a>
  </div>


  <div class="gallery-card">
    <a href="/img/portfolio/21.jpg" class="strip"><img class="image" src="/img/portfolio/21.jpg" alt=""></a>
  </div>


  <div class="gallery-card">
    <a href="/img/portfolio/37.jpg" class="strip"><img class="image" src="/img/portfolio/37.jpg" alt=""></a>
  </div>


  <div class="gallery-card">
    <a href="/img/portfolio/drawing.jpg" class="strip"><img class="image" src="/img/portfolio/drawing.jpg" alt=""></a>
  </div>


  <div class="gallery-card">
    <a href="/img/portfolio/dramascraper/show.jpg" class="strip"><img class="image" src="/img/portfolio/dramascraper/show.jpg" alt=""></a>
  </div>


  <div class="gallery-card">
    <a href="/img/portfolio/craft.jpg" class="strip"><img class="image" src="/img/portfolio/craft.jpg" alt=""></a>
  </div>


  <div class="gallery-card">
    <a href="/img/portfolio/still.jpg" class="strip"><img class="image" src="/img/portfolio/still.jpg" alt=""></a>
  </div>

</div>
