<div class="gallery-wrapper">
  <div class="gallery-card">
    <img src="/img/portfolio/21.jpg" alt="">
    <div class="card-desc-section">
      <p>Test description</p>
    </div>
  </div>
  <div class="gallery-card">
    <img src="/img/portfolio/37.jpg" alt="">
    <div class="card-desc-section">
      <p>Test description</p>
    </div>
  </div>
  <div class="gallery-card">
    <img src="/img/portfolio/drawing.jpg" alt="">
    <div class="card-desc-section">
      <p>Test description</p>
    </div>
  </div>
  <div class="gallery-card">
    <img src="/img/portfolio/craft.jpg" alt="">
    <div class="card-desc-section">
      <p>Test description</p>
    </div>
  </div>
  <div class="gallery-card">
    <img src="/img/portfolio/still.jpg" alt="">
    <div class="card-desc-section">
      <p>Test description</p>
    </div>
  </div>
</div>
