<header id="particles-js" class="site-header">

  <div class="wrap-title">
    <div id="title-section">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.author }}</a>
      <nav class="site-nav">


        {% for my_page in site.pages %}
          {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}

        <a href="/blog.html" class="page-link"><span>Blog</span></a>
        <a id="sketchbook" class="page-link" href="/sketchbook.html"><span>Szkicownik</span></a>
        <a class="page-link" href="https://github.com/paweltar" target="_blank"><span>Github</span></a>

      </nav>
    </div>
  </div>

</header>
