<header id="particles-js" class="site-header">

  <div class="wrap-title">
    <div id="title-section">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.author }}</a>
        <nav class="site-nav">

            <a href="/blog.html" class="page-link"><span>Blog</span></a>
            <a class="page-link" href="#gallery-section"><span>Gallery</span></a>
            <a class="page-link" href="https://github.com/paweltar" target="_blank"><span>Github</span></a>
            <a class="page-link" href=""><span>Contact</span></a>

        </nav>
    </div>
  </div>



</header>
