$default-card: 300px;
$big-card: $default-card * 2 + 20;
.def-site-header {
  height: 50px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  color: $text-color;
  line-height: $base-line-height;
  font-weight: 600;
  .title-wraper {
    width: 50px;
    height: 100%;
    background-color: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .def-site-title {
      text-transform: uppercase;
      color: $background-color;
    }
  }
  .def-site-nav {
    width: 350px;
    @include media-query($on-palm) {
      display: none;
    };
    .def-nav-links {
      margin-right: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        color: $text-color;
        &:hover {
          color: lighten($text-color, 25%);
        }
      }
    }
  }
  #dropdown {
    display: none;
    @include media-query($on-palm) {
      display: block;
    };
  }
  @include media-query($on-palm) {
    display: none;
  };
}
.bottom-navigation {
  display: none;
  height: 56px;
  background-color: transparentize(white, .15);
  box-shadow: 0px -3px 9px -1px rgba(0,0,0,0.25);
  border-top: 4px solid $accent-color;

  .bottom-nav-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: black;
    .bottom-home-wrapper {
      height: 100%;
      width: 56px;
      background-color: #D8303D;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: white;
        font-size: 22px;
      }
    }
    .bottom-page-link {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:last-child {
        margin-right: 20px;
      }
      .nav-icon {
        color: lighten(black, 20%);
        font-size: 24px;
        transition: all .3s ease-in-out;
        i {
          padding: 6px 0;
          text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
        }
        &:hover {
          color: lighten($text-color, 25%);
        }
      }
      .nav-label {
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
        padding-bottom: 10px;
        font-weight: 600;
      }
    }
  }
  @include media-query($on-palm) {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
  };
}
.about-section {
  background-color: #A4A1A6;
  margin: 0 30px 30px;
  height: 250px;
  display: flex;
  flex-direction: row;
  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    @include media-query($on-palm) {
      width: 100%;
    };
  }
  @include media-query($on-palm) {
    background: lightgray;
  };
  .about-text {
    margin-left: 10px;
    color: white;
  }
  @include media-query($on-palm) {
    height: auto;
    flex-direction: column;
  }
}
.gallery-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  .gallery-card {
    height: auto;
    width: $default-card;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
    img {
      border-radius: 3px 3px 0 0;
      object-fit: cover;
      &:hover {
        filter:none;
      }
    }
    .card-desc-section {
      height: 50px;
      display: flex;
      p {}
    }
    &:hover {
      box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    }
  }
  .gallery-card--width2 {
    width: $big-card;
  }
  .image {
    border-radius: 3px !important;
  }
}
