/**
 * Site header
 */
@keyframes pulse-opacity {
  50% { color: rgba(white, 1) }
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-header {
  box-sizing: border-box;
  border: 30px solid $background-color;
  min-height: 56px;
  height: 100vh;
  // background-image: radial-gradient(circle at 0% 0%, $light-sky, $blue-sky, $dark-sky);
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(/img/assets/bw-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  position: relative;
}
.site-title {
  font-family: $base-font-family;
  color: white;
  border-bottom: 2px solid $accent-color;
  padding: 15px;
  font-size: 60px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -3px;
  margin-bottom: 0;
  @include media-query($on-palm) {
    border-bottom: none;
  }
  &,
  &:visited {
    color: white;
  }
  &:hover {
    text-decoration: none;
    color: darken(white, 15%);
    transition: color 0.3s ease-in-out;
  }
}
.wrap-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include media-query($on-palm) {
    justify-content: flex-end;
    align-content: flex-end;
    text-align: left;
  }
}
#sketchbook {
  animation: pulse-opacity 3s infinite ease-in-out;
}
#title-section {
  margin: 5%;
  display: flex;
  flex-direction: column;
  @include media-query($on-palm) {
    flex-direction: column-reverse;
    margin-bottom: 20%;
  }
  .site-title {
    @include media-query($on-palm) {
      border-top: 2px solid $accent-color;
      padding-top: 20px;
      margin-top: 20px;
    };
  }
  .site-nav {
    @include media-query($on-palm) {};
  }
}
.site-nav {
  line-height: 56px;
  .menu-icon {
    display: none;
  }
  .page-link {
    font-family: $complementary-font;
    color: rgba(white, .7);
    padding: 5px 0;
    line-height: $base-line-height;
    font-weight: 600;
    border-bottom: 2px dashed transparent;
    transition: 0.3s ease-in-out;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: white;
      border-bottom: 2px dashed $accent-color;
    }
  }
  @include media-query($on-palm) {
    text-align: left;
    .page-link {
      display: block;
      padding: 5px 0;
      &:not(:last-child) {
        margin-right: 0;
      }
      &:hover {
        background-color: transparent;
        border: none;
        padding-left: 5px;
      }
    }
  }
}
/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0 $spacing-unit/6 0;
  margin-bottom: 56px;
}
.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}
.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}
.page-heading {
  font-size: 1.8rem;
}
.post-list {
  margin-left: 0;
  padding-left: 15px;
  border-left: 2px solid darken($accent-color, 15%);
  list-style: none;
  li {
    margin-bottom: $spacing-unit;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-between;
    h2 {
      margin-bottom: 0;
      .post-link {
        display: block;
        font-size: 24px;
        white-space: nowrap;
        margin-right: 10px;
      }
    }
    .leader-dots {
      width: 100%;
      border-bottom: 2px dotted darken($typography-accent, 20%);
    }
    .post-meta {
      font-size: $small-font-size;
      color: $grey-color;
      white-space: nowrap;
      margin-left: 10px;
      @include media-query($on-palm) {
        text-align: center;
      }
    }
  }
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  font-family: $complementary-font;
  .post-meta {
      text-align: center;
  }
}
hr {
  width: 60px;
  margin: 12px auto 27px;
  height: 2px;
  border: 0px none;
  background: $typography-accent none repeat scroll 0%
}
.post-title {
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  @include media-query($on-laptop) {
    font-size: 2.5rem;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  p {
    font-size: $post-content-size;
    @include media-query($on-laptop) {
      font-size: $post-content-size * 0.875;
    }
    span.dropcap {
      color: $typography-accent;
      margin-right: 5px;
    }
  }
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
