.row {
  display: flex;
  .sketch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 40px 20px;
    .sketch {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    }
    @include media-query($on-palm) {
      width: 100%;
    };
  }
  .sketch-description-wrapper {
    @extend .sketch-wrapper;
    @include media-query($on-palm) {
      display: none;
    };
  }
}

// "winter night" 31.03.2016

#winter-night {

}

// snow

$height: 600px;
$width: 350px;

$sky-dark: #191B32;
$sky-light: #708D93;
$snowflake: #94BFD6;

@mixin let-it-snow($amount) {
  $shadow-values: #{random($width)}px #{random($height)}px #{random(3)}px 0px $snowflake;

		@for $i from 0 through $amount - 2 {
			$shadow-values: $shadow-values + "," #{random($width - 2)}px #{random($height - 2)}px #{random(5)}px 0px $snowflake;
		}

	box-shadow: $shadow-values;
}

@keyframes snow1 {
  0% {top: -50px;
      left: -30px;
      opacity: .1}

  20%, 80% {opacity: 1}

  100% {top: 15px;
        left: 10px;
        opacity: .1}
}

@keyframes snow2 {
  0% {top: -70px;
      right: -30px;
      opacity: .1}

  20%, 80% {opacity: 1}

  100% {top: 30px;
        right: 0;
        opacity: .1}
}

.night-sky {
  height: $height;
  width: $width;
  background: linear-gradient($sky-dark, $sky-light);
  position: relative;
  overflow: hidden;
  .snowflake {
    width: 3px;
    height: 5px;
    position: absolute;
    background: $snowflake;
    border-radius: 50%;
    top: 0px;
    left: 0px;

    @include let-it-snow(150);
    animation: snow1 5s linear infinite;

    &:before {
      content: '';
      @extend .snowflake;

      @include let-it-snow(50);
      animation: snow2 7s linear infinite;
    }
  }
}

// botte of wine 1.04.2016

$bg-color: #3F4C5D;
$bottle-color: #000;
$wine-color: #903749;
$reflection-color: #262626;

.bg {
  width: 350px;
  height: 550px;
  background: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  .bottle {
    width: 100px;
    height: 270px;
    background: $bottle-color;
    position: relative;
    border-radius: 0 0 7px 7px;
    border-left: inset 1px $wine-color;
    top: 60px;
    background: radial-gradient(ellipse closest-side at 50px 265px,
      $wine-color,
      $bottle-color
    );
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      background: $bottle-color;
      border-radius: 49%;
      top: -50px;
      border-top: inset 5px lighten($reflection-color, 50%);
      z-index: -1;
      background: radial-gradient(ellipse closest-side at 50px 22px,
      $wine-color,
      $bottle-color 89%
    );
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 38px;
      height: 110px;
      background: $bottle-color;
      border-radius: 5px 5px 0 0;
      border-left: inset 2px lighten($reflection-color, 50%);
      top: -152px;
      left: 29px;
      background: linear-gradient(to bottom,
        $bottle-color,
        lighten($reflection-color, 20%) 5%,
        $reflection-color 6%,
        $reflection-color 11%,
        $bottle-color 15%,
        $reflection-color 17%,
        $bottle-color
      );
    }
  }
}
