.row {
  display: flex;
  &:first-of-type {
    margin-top: 40px;
  }
  &:last-of-type {
    margin-bottom: 70px;
  }
  .sketch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px 20px;
    .sketch {
      border-radius: 5px;
      overflow: hidden;
      width: 350px;
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    }
    @include media-query($on-palm) {
      width: 100%;
    };
  }
}

// "winter night" 31.03.2016

#winter-night {

}

// snow

$height: 600px;
$width: 350px;

$sky-dark: #191B32;
$sky-light: #708D93;
$snowflake: #94BFD6;

@mixin let-it-snow($amount) {
  $shadow-values: #{random($width)}px #{random($height)}px #{random(3)}px 0px $snowflake;

		@for $i from 0 through $amount - 2 {
			$shadow-values: $shadow-values + "," #{random($width - 2)}px #{random($height - 2)}px #{random(5)}px 0px $snowflake;
		}

	box-shadow: $shadow-values;
}

@keyframes snow1 {
  0% {top: -50px;
      left: -30px;
      opacity: .1}

  20%, 80% {opacity: 1}

  100% {top: 15px;
        left: 10px;
        opacity: .1}
}

@keyframes snow2 {
  0% {top: -70px;
      right: -30px;
      opacity: .1}

  20%, 80% {opacity: 1}

  100% {top: 30px;
        right: 0;
        opacity: .1}
}

.night-sky {
  height: $height;
  width: $width;
  background: linear-gradient($sky-dark, $sky-light);
  position: relative;
  overflow: hidden;
  .snowflake {
    width: 3px;
    height: 5px;
    position: absolute;
    background: $snowflake;
    border-radius: 50%;
    top: 0px;
    left: 0px;

    @include let-it-snow(150);
    animation: snow1 5s linear infinite;

    &:before {
      content: '';
      @extend .snowflake;

      @include let-it-snow(50);
      animation: snow2 7s linear infinite;
    }
  }
}

// bottle of wine 1.04.2016
#wine-bottle {

}

$bg-color: #3F4C5D;
$bottle-color: #000;
$wine-color: #903749;
$reflection-color: #262626;

.bg {
  width: 350px;
  height: 550px;
  background: linear-gradient(to bottom, #4B1414, #000206);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  .bottle {
    width: 100px;
    height: 270px;
    background: $bottle-color;
    position: relative;
    border-radius: 0 0 7px 7px;
    border-left: inset 1px rgba(white, .9);
    top: 60px;
    background: radial-gradient(ellipse closest-side at 50px 265px,
      $wine-color,
      $bottle-color
    );
    box-shadow: inset 5px -4px 7px -7px white,
                inset -9px 0px 12px -13px white,
                inset 1px 22px 8px 10px black,
                inset 45px 0 25px -5px rgba(white, .15);
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      background: $bottle-color;
      border-radius: 49%;
      top: -50px;
      left: -1px;
      border-top: inset 3px white;
      border-left: inset 1px rgba(white, .95);
      z-index: -1;
      background: radial-gradient(ellipse closest-side at 50px 22px,
      $wine-color,
      $bottle-color 89%
    );
      box-shadow: inset 0 4px 10px -5px white,
                  inset 15px 4px 3px -5px rgba(white, .2);
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 38px;
      height: 110px;
      background: $bottle-color;
      border-radius: 5px 5px 0 0;
      border-left: inset 2px rgba(white, .8);
      top: -156px;
      left: 29px;
      background: linear-gradient(to bottom,
        $bottle-color,
        lighten($reflection-color, 20%) 5%,
        $reflection-color 6%,
        $reflection-color 11%,
        $bottle-color 15%,
        $reflection-color 17%,
        $bottle-color
      );
      // z-index: -2;
      box-shadow: inset 15px 0 5px -5px rgba(white, .2);
    }
  }
}

// document

$text-color: darken(white, 35%);

.document-card {
    width: 350px;
    height: 500px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 150px;
      height: 20px;
      right: 20px;
      top: 20px;
      background: $text-color;

      box-shadow: 0 30px $text-color,
                  0 60px $text-color,
                  0 90px $text-color,
                  0 120px $text-color,
                  -149px 180px $text-color,
                  0 180px $text-color,
                  -149px 210px $text-color,
                  0 210px $text-color,
                  -149px 240px lighten($text-color, 20%),
                  0 240px lighten($text-color, 20%),
                  -149px 270px lighten($text-color, 20%),
                  0 270px lighten($text-color, 20%),
                  -149px 300px lighten($text-color, 20%),
                  0 300px lighten($text-color, 20%),
                  -149px 400px #2d767f;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 130px;
      height: 140px;
      left: 30px;
      top: 20px;
      background: #c6e872;
    }
    .tag {
      width: 200px;
      height: 50px;
      background-color: white;
      position: absolute;
      right: -23px;
      top: 20px;
      z-index: -1;
      box-shadow: 3px 3px 6px 0 darken(white, 30%);
      background-image: linear-gradient(to left,
                                          darken(red, 15%),
                                          darken(red, 5%) 5%,
                                          darken(red, 20%) 8%,
                                          darken(red, 20%) 11%,
                                          white 11%
      );
    }
  }

  //candle 5.04.2016
#candle {
  $bg-color: black;
  $candle-color: #FAEEE0;
  $candle-light: #FFFCF3;
  $candle-dark: #C39F6F;
  $light-width: 10;
  $light-height: 30;

  @keyframes burn {
    0%, 100% {
      width: #{$light-width}px;
      height: #{$light-height}px;
      top: -#{$light-height + 14}px;
      box-shadow: 0px 0px 4px 3px #FBEF8B,
                    0px -5px 4px 5px #BB5517,
                    0px -15px 35px 20px #A6564B;
    }
    50% {
      width: #{$light-width}px;
      height: #{$light-height + 4}px;
      top: -#{$light-height + 18}px;
      box-shadow: 0px 0px 4px 3px saturate(#FBEF8B, 20%),
                    0px -5px 7px 7px #BB5517,
                    0px -15px 45px 20px #A6564B;
    }
  }

  @keyframes cast-light {
    0%, 100% {
      box-shadow: inset 0px 35px 30px -15px $candle-light;
    }
    50% {
      box-shadow: inset 0px 50px 55px -15px $candle-light;
    }
  }

  .candle-bg {
    width: 350px;
    height: 550px;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at 0% 100%,
        #FBE575 5%,
        #C97C2A 30%,
        #854716 50%,
        transparent);
    .candle {
      width: 60px;
      height: 350px;
      position: relative;
      top: 50px;
      background: $candle-color;
      border-radius: 5%;
      box-sizing: border-box;
      border-top: 3px solid white;
      border-left: 3px solid $candle-light;
      border-right: 1px solid $candle-light;
      background-image:
        linear-gradient(170deg, #FFFCF3 5%, #FCEC8D 15%, transparent 40%),
        linear-gradient(to right, rgba(195, 159, 111, 0.7) 25%, transparent),
        radial-gradient(120px at 100% 0%, #fffcf3 10%, rgba(0, 0, 0, 0)),
        radial-gradient(200px at 30% -20%, rgba(255, 255, 0, 0.2) 50%, rgba(0, 0, 0, 0)),
        radial-gradient(300px at 50% -30%, rgba(255, 255, 255, 0.3) 50%, rgba(0, 0, 0, 0) 50%),
        radial-gradient(circle at 50% 50%, #efddb7, rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, #FFFCF3, #C39F6F);
      animation: cast-light 3s infinite ease-in-out;
      &:before {
        content: '';
        width: #{$light-width}px;
        height: #{$light-height}px;
        display: block;
        position: absolute;
        background: #FFFFFF;
        top: -#{$light-height + 14}px;
        left: 25px;
        border-radius: 50%/60% 60% 40% 40%;
        box-shadow: 0px 0px 4px 3px #FBEF8B,
                    0px -5px 4px 5px #BB5517,
                    0px -15px 35px 20px #A6564B;
        animation: burn 3s infinite ease-in-out;
      }
    }
  }
}

// geometry 6.04.2016

#geometry {
  $perspective-color: #3465CC;
  $diagonal-white: rgba(white, .3);

  @keyframes animate {
    0% {}
    100% {
      transform: rotateY(360deg) rotateX(360deg);
    }
  }

  .perspective {
    perspective: 1000px;
    perspective-orogin: 50% 50%;
    width: 350px;
    height: 550px;
    background-image: radial-gradient(circle at 0% 0%,
      $perspective-color,
      darken($perspective-color, 30%));
    display: flex;
    justify-content: center;
    align-items: center;
    //overflow-hidden collides with 3d perspective
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    border-radius: 5px;
    .object {
      height: 180px;
      width: 180px;
      position: relative;
      transform-style: preserve-3d;
      animation: animate 15s infinite cubic-bezier(.41,1.02,.83,.67);
      div {
        position: absolute;
        box-sizing: border-box;
        padding: 20px;
        height: 100%;
        width: 100%;
        background-color: rgba(lightgray, 0);
        border: dashed 2px white;
        color: white;
        background-image: linear-gradient(45deg, transparent 50%, $diagonal-white 50%, transparent 51%),
          linear-gradient(-45deg, transparent 50%, $diagonal-white 50%, transparent 51%);
      }
      .front {
        transform: translateZ(80px);
      }
      .back {
        transform: translateZ(-100px) rotateY(180deg);
      }
      .top {
        transform: rotateX(-270deg) translateY(-100px);
        transform-origin: top center;
      }
      .bottom {
        transform: rotateX(270deg) translateY(100px);
        transform-origin: bottom center;
      }
      .left {
        transform: rotateY(270deg) translateX(-100px);
        transform-origin: center left;
      }
      .right {
        transform: rotateY(-270deg) translateX(100px);
        transform-origin: top right;
      }
    }
  }
}

// crystal 7.04.2015

#crystal {
  $width: 140;

  @keyframes rotate {
    50% {
      transform: rotateY(360deg) rotateX(15deg);
    }
  }

  @keyframes shine {
    50% {
      width: 15px;
      height: 15px;
      box-shadow: 0 0 100px 40px rgba(white, .8),
                  0 0 5px 0 white;
      background: rgba(white, .8);
    }
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .crystal-bg {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    width: 350px;
    height: 550px;
    background: black;
    background-image:
      radial-gradient(circle at 50% 50%, rgba(black, .5), transparent),
      radial-gradient(circle at 0% 20%,
      #03FCF6,
      #476F93,
      #4D346E);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px rgba(black, .6);
    .crystal {
      height: #{$width}px;
      width: #{$width}px;
      position: relative;
      transform-style: preserve-3d;
      animation: rotate 10s infinite ease-in-out;
      bottom: 50px;
      div {
        position: absolute;
        box-sizing: border-box;
        width: 0;
        height: 0;
        border-left: #{$width / 2}px solid transparent;
        border-right: #{$width / 2}px solid transparent;
        border-bottom: #{$width}px solid rgba(white, .1);
      }
      .heart {
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 50%;
        background: white;
        top: 90%;
        left: 50%;
        box-shadow: 0 0 60px 20px white;
        animation: shine 2s infinite ease-in-out;
      }
      .heart-2 {
          @extend .heart;
          transform: rotateX( 90deg );
        }
      .heart-3 {
        @extend .heart;
          transform: rotateY( 90deg );
      }
      .up-1 {
        transform: translateZ( 33px ) rotateX( 30deg );
      }
      .up-2 {
        transform: translateZ( -33px ) rotateX( -30deg );
      }
      .up-3 {
        transform: rotateY( 90deg) translateZ( 33px ) rotateX( 30deg ) ;
      }
      .up-4 {
        transform: rotateY( 90deg) translateZ( -33px ) rotateX( -30deg ) ;
      }
      .bottom-1 {
        transform: rotateX( 180deg ) translateY( -120px ) translateZ( -33px ) rotateX( -30deg );
      }
      .bottom-2 {
        transform: rotateX( 180deg ) translateY( -120px ) translateZ( 33px ) rotateX( 30deg );
      }
      .bottom-3 {
        transform: rotateY( 90deg ) rotateX( 180deg ) translateY( -101px ) rotateX( 30deg ) translateZ( 38px );
      }
      .bottom-4 {
        transform: rotateY( 90deg ) rotateX( 180deg ) translateY(-101px ) rotateX( -30deg ) translateZ( -38px );
      }
    }
  }
}
